@xxs-max:                                 420px;
@xs-min:                                 (@xxs-max+1);
@xs-max:                                 767px;
@sm-min:                                 (@xs-max+1);
@sm-max:                                 990px;
@md-min:                                 (@sm-max+1);
@md-max:                                 1200px;
@lg-min:                                 (@md-max+1);
@lg-max:                                 1440px;


.r-xxs(@rules) {
	@media (max-width: @xxs-max) { @rules(); }
}

.r-xs(@rules) {
	@media (min-width: @xs-min) and (max-width: @xs-max) { @rules(); }
}

.r-sm(@rules) {
	@media (min-width: @sm-min) and (max-width: @sm-max) { @rules(); }
}

.r-md(@rules) {
	@media (min-width: @md-min) and (max-width: @md-max) { @rules(); }
}

.r-lg(@rules) {
	@media (min-width: @lg-min) { @rules(); }
}

.r-under(@max-width, @rules){
   	@media (max-width: @max-width) { @rules(); }
}

.r-above(@min-width, @rules){
   	@media (min-width: @min-width) { @rules(); }
}

.r-range(@min-width, @max-width, @rules){
   	@media (min-width: @min-width) and (max-width: @max-width) { @rules(); }
}


.r-under-md(@rules) {
	@media (max-width: @md-max) { @rules(); }
}

.r-under-sm(@rules) {
	@media (max-width: @sm-max) { @rules(); }
}

.r-under-xs(@rules) {
	@media (max-width: @xs-max) { @rules(); }
}
.r-under-xxs(@rules) {
	@media (max-width: @xxs-max) { @rules(); }
}


.r-above-xs(@rules) {
	@media (min-width: @sm-min) { @rules(); }
}

.r-above-xs(@rules) {
	@media (min-width: @sm-min) { @rules(); }
}

.r-above-sm(@rules) {
	@media (min-width: @md-min) { @rules(); }
}

.r-above-md(@rules) {
	@media (min-width: @lg-min) { @rules(); }
}

.r-above-lg(@rules) {
	@media (min-width: @lg-max) { @rules(); }
}


.hidden-xxs {
       	@media (max-width: @xxs-max ) { display:none !important;  }
}