@import "colours";




/* Flex */

.flex {
    display: flex;

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }
}

/* Collapse */

.collapse-links {
    a {
        &:after {
            content: "\f078";
            font-family: FontAwesome;
        }

        &.collapsed:after {
            content: "\f054";
            font-family: FontAwesome;
        }

        &:focus {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }
    }
}



/* Justify  */

.mt-justified > li {
    float: none;
}

.mt-justified > li > a {
    margin-bottom: 0px;
    text-align: center;
}

.mt-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

.mt-justified > li {
    display: table-cell;
    width: 1%;
}

