@using System.Threading.Tasks
@using MyTeam

@if (Context.UserIsInRole(Roles.Coach, Roles.Admin))
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.CoachMenu</li>
            </ul>
        </div>
        </div>
        }
