
@font-face {
    font-family: Kelson;
    src: url('../fonts/Kelson Sans Regular.otf');
}

@font-face {
    font-family: KelsonBold;
    src: url('../fonts/Kelson Sans Bold.otf');
}


h1, h2, h3, h4, h5 {
        font-family: 'KelsonBold', sans-serif;


} 
body {
    font-family: 'Kelson', sans-serif;
}