@using System.Threading.Tasks
@using MyTeam
@using MyTeam.ViewModels.News
@model GetCommentsViewModel
@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_PostComment", new PostCommentViewModel
    {
        ArticleId = Model.ArticleId,
        FacebookId = Model.FacebookId,
        IsFacebookUser = !string.IsNullOrWhiteSpace(Model.FacebookId)
    })
}
else
{
    <p class="text-info"><i class="fa fa-info"></i> Du må <a asp-controller="account" asp-action="login">logge inn</a> for å kommentere</p>
}