@using System.Threading.Tasks
@using MyTeam
@using MyTeam.ViewModels.News
@model Guid
@if (Context.UserIsMember())
{
    @Html.Partial("_PostComment", new PostCommentViewModel
    {
        ArticleId = Model
    })
}
else
{
    <p class="text-info"><i class="fa fa-info"></i> Kun medlemmer kan kommentere</p>
}