@using System.ComponentModel
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam
@model MyTeam.ViewModels.News.EditArticleViewModel
@{
    ViewBag.Title = Model.IsNew ? "Skriv artikkel" : "Rediger artikkel";
}

<div class="mt-sidebar">
    <div class="mt-container">
        @await Component.InvokeAsync("ArticleNav", new { clubId=  Context.GetClub().Id})
    </div>
</div>

<div class="mt-main">
    <div class="mt-container">
        @Html.Partial("_Edit")
    </div>
</div>

    @section Scripts {
        @await Component.InvokeAsync("CloudinaryScripts")
        @Html.Partial("Scripts/_TinyMCE", "Content")
    }
