@using MyTeam
@model MyTeam.ViewModels.News.EditArticleViewModel
@{
    ViewBag.Title = Model.IsNew ? "Skriv artikkel" : "Rediger artikkel";
}

<div class="mt-sidebar">
    <div class="mt-container">
        @Component.Invoke("ArticleNav", Context.GetClub().Id)
    </div>
</div>


<div mt-main>
    @Html.Partial("_Edit")
</div>


@section Scripts {
    @Component.Invoke("CloudinaryScripts")
    @Html.Partial("Scripts/_TinyMCE", "Content")
}