@using System.Threading.Tasks
@using MyTeam.Models.Domain
@model IEnumerable<MyTeam.Models.Domain.Article>
@{
    ViewBag.Title = "Nyheter";
}
    @Html.Partial("_List", Model)

<div mt-sidebar>
    
</div>

