@using System.Threading.Tasks
@using MyTeam.Models.Domain
@model MyTeam.ViewModels.News.ArticleViewModel
@{
    ViewBag.Title = Model.Headline;
}
<div class="mt-sidebar">
    <div class="mt-container">
        @Component.Invoke("ArticleNav", Context.GetClub().Id)

    </div>
</div>

@Html.Partial("_Show", Model)


