@using System.Threading.Tasks
@using MyTeam
@model MyTeam.ViewModels.News.ArticleViewModel
@{
    ViewBag.Title = Model.Headline;
    ViewBag.PageName = "Nyheter";
}
<div class="mt-sidebar">
    <div class="mt-container">
        @await Component.InvokeAsync("ArticleNav", new {clubId = Context.GetClub().Id})

    </div>
    <div class="mt-container">
        <h4><i class="fa fa-twitter"></i> Siste Tweets</h4>
        <a class="twitter-timeline" href="https://twitter.com/WamKam" data-widget-id="672159319203430401" data-tweet-limit="6" data-chrome="nofooter transparent noheader noborders noscrollbar">Tweets by WamKam</a>
    </div>
</div>

<div class="mt-main">
    @Html.Partial("_Show", Model)

    <div class="mt-container comments-container">
        <h3>Kommentarer (<span id="comments-count">@Model.CommentCount</span>)</h3>
        <div id="article-comments" data-get-comments-url="@Url.Action("GetComments","News", new { articleId = Model.Id })" >
            <i class="fa-spinner fa fa-spin primaryColor"></i>
        </div>
    </div>
</div>


@section Scripts
{
    @await Component.InvokeAsync("FacebookSdk")
    @Html.Partial("Scripts/_TwitterFeed")
    <script src="~/compiled/news/show.js"></script>

}