.gamesTable {
  display: table;
}

.gamesTable > a {
  color: @blackNormal;
  display: table-row;
  height: 3.57em;
}

.gamesTable a > span {
  display: table-cell;
  font-size: 1.15em;
  text-align: center;
  padding: 0;
  vertical-align: middle;

  &.gameType {
    font-size: 1.5em;
    padding-right: 0.5rem;
  }

  &.gamesTable-visible-xs {
    // bootstrap visible-xs kræsja med display:table-cell
    display: none;
    .r-under-xs({display: table-cell;});
  }
}
.gamesTable a > span.gamesTable-team {
  font-size: 1.25em;
  .r-under-xs({font-size: 1em;});
  .r-under-xxs({font-size: 0.9em;});
  font-family: @fontBold;
  &.gamesTable-team--left {
    text-align: right;
  }
  &.gamesTable-team--right {
    text-align: left;
  }
}
.gamesTable a span.gamesTable-date {
  min-width: 3.6em;
  font-size: 1em;
  i {
    font-size: 0.75em;
  }
  .r-under-xs({font-size: 0.9em;});
  .r-under-xxs({font-size: 0.8em;});
}
.gameResult {
  white-space: nowrap;
  border-radius: 1em;
  padding: 0.2em 0.65em;
  margin: 0 0.5em;
}
.gameResult--Seier {
  background: @greenLight;
}
.gameResult--Uavgjort {
  background: @yellowLight;
}
.gameResult--Tap {
  background: @redLight;
}
.games-showGameLink {
  transition: all 0.25s ease-out;
  cursor: pointer;
  &:hover {
    background-color: fade(@team-primary, 50) !important;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.game-header {
  margin: 0 2em;
  .r-under-xs({font-size: 1.5em; margin-top: 0.2em;});
  .r-under-xxs({font-size: 1.2em;});
}
.game-score {
  font-size: 1.5em;
  padding: 0 1em;
  .r-under-xs({padding: 0 0.5em; font-size: 1.2em;});
}
.gameEvents {
  margin-bottom: 1.5em;
}
.gameEvents .gameEvent {
  position: relative;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  i {
    font-size: 1.2em;
  }
  .r-under-xxs({font-size: 1em;});
}
.gameEvents .fa-spinner {
  font-size: 1.55em;
}
.gameEvents .fa-spinner.removeEvent {
  font-size: 0.9em;
  margin-top: 0.3em;
  margin-right: 0.75em;
  float: right;
}
.gameEvent .fa {
  margin-right: 0.15em;
}
.game-showEventsWrapper {
  padding-top: 1em;
}
.game-details {
  color: @black-faded;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}
.game-details-icon {
  text-align: right;
  & > i.fa {
    font-size: 1.3em;
    .r-under-sm({font-size: 1.2em;});
  }
}
.game-squadList {
  line-height: 1.6em;
  font-size: 1.2em;
  i {
    font-size: 1.25em;
  }
  .r-under-xxs({font-size: 1em; i {font-size: 1em;}});
}
.game-squadList .fa-spinner {
  font-size: 0.75em;
  margin-left: 0.5em;
  &.removePlayer {
    float: right;
    margin-top: 0.5em;
  }
}
.game-scoreTable {
  font-size: 1.4em;
  margin: 0 auto;
  font-family: @fontBold;
}
.game-scoreTable td {
  padding: 0 0.5em;
}
.game-scoreTable--score {
  font-size: 1.5em;
}
