.stats h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.stats table.table {
  margin-top: 0;
  margin-bottom: 0;
}

.stats table.table th {
  padding-top: 0;
  padding-bottom: 0;
}

.stats table.table td {
  vertical-align: middle;
}

.stats .icon {
  margin-left: -0.25em;
}

.stats-yellowCard i:after {
  right: 0.3em;
}
.stats-redCard i:after {
  right: 0.3em;
}

.stats-teamNav {
  width: 64%;
  display: inline-block;
}

.stats-table th i {
  font-size: 1.25em;
}

.stats-table .icon-card-red,
.stats-table .icon-card-yellow {
  left: -0.6em;
}
