.stats-yellowCard i:after {
  right: 0.3em;
}

.stats-redCard i:after {
  right: 0.3em;
}

.stats-table th i {
  font-size: 1.25em;
}

.stats-table .icon-card-red,
.stats-table .icon-card-yellow {
  left: -0.6em;
}
