@{
    ViewData["Title"] = "Bekreft Epost";
}
<div class="mt-main">
    <div class="mt-container">
        <div>
            <p>
                Takk for at du bekreftet din e-postadresse. <a asp-controller="Account" asp-action="Login">Trykk her for å logge inn</a>.
            </p>
        </div>
    </div>
</div>
