@using System.Threading.Tasks
@using MyTeam.ViewModels.Account
@model MyTeam.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Registrering";
}
<div class="mt-container">

    <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-10 col-sm-12">
            <input asp-for="FacebookId" type="hidden" value="@ViewData["FacebookId"]" />
            <p class="text-info">
                Du har logget inn med <strong>@ViewData["LoginProvider"]</strong>. <br />
                Vennligst oppgi din e-postadresse - den vil fungere som brukernavnet ditt på denne siden.
            </p>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" placeholder="ronaldinho@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Registrer</button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
