@{
    ViewData["Title"] = "Utestengt";
}
<div class="mt-container">

    <hgroup>
        <h2 class="text-danger">Denne kontoen har blitt låst, vennligst forsøk igjen senere.</h2>
    </hgroup>
</div>