source https://nuget.org/api/v2
storage:none

nuget Fable.Core
nuget Fable.Fetch
nuget Fable.Promise
nuget Fable.React
nuget Fable.JsonConverter
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Thoth.Json
nuget Thoth.Json.Net
nuget FSharp.Quotations.Evaluator
nuget FSharp.Data
nuget Giraffe
nuget Microsoft.AspNetCore.Authentication.Facebook
nuget Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore
nuget Microsoft.AspNetCore.Identity.EntityFrameworkCore
nuget Microsoft.EntityFrameworkCore 5.0.9
nuget Microsoft.EntityFrameworkCore.Relational 5.0.9
nuget Microsoft.EntityFrameworkCore.SqlServer 5.0.9
nuget Microsoft.EntityFrameworkCore.Tools 5.0.9
nuget Microsoft.Extensions.Caching.Abstractions 
nuget Newtonsoft.Json
nuget Sendgrid
nuget SlackLogger
nuget TaskBuilder.fs