source https://nuget.org/api/v2
storage:none

clitool dotnet-fable prelease
nuget Fable.Core prelease
nuget Fable.Import.Browser prelease
nuget Fable.React prelease
nuget Fable.JsonConverter prelease
nuget Thoth.Json
nuget Thoth.Json.Net
nuget FSharp.Quotations.Evaluator
nuget Giraffe
nuget HtmlAgilityPack.CssSelectors.NetCore
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Microsoft.AspNetCore.Antiforgery 
nuget Microsoft.AspNetCore.Authentication.Facebook
nuget Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore
nuget Microsoft.AspNetCore.Hosting 
nuget Microsoft.AspNetCore.Identity 
nuget Microsoft.AspNetCore.Identity.EntityFrameworkCore
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.AspNetCore.Mvc
nuget Microsoft.EntityFrameworkCore 
nuget Microsoft.EntityFrameworkCore.SqlServer 
nuget Microsoft.EntityFrameworkCore.Tools 
nuget Microsoft.Extensions.Caching.Abstractions 
nuget Newtonsoft.Json
nuget Sendgrid
nuget SlackLogger
nuget System.Net.Http
nuget TaskBuilder.fs
