.icon-handshake {

    width: 1.6em;
    height: 1em;
    margin-top: 0.2em;
    background-image: url("../images/handshake.png");
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 1.6em;
}

