@using System.Security.Policy
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam.Resources
@using MyTeam.ViewModels.RemedyRate
@{
    ViewBag.DisableAjax = true;
    ViewBag.Title = "Endre sats";
}
@model RemedyRateViewModel
<div class="mt-main">
    @Html.Partial("_AddRate")
</div>