@using System.Threading.Tasks
@using MyTeam.Resources
@model MyTeam.ViewModels.Admin.AddPlayersViewModel
@{
    ViewBag.Title = Res.AdminPage;
}


<div class="mt-main">
<div class="mt-container">
    <div id="add-players"></div>
    </div>
</div>
@Html.Partial("_CoachMenu")

@Html.Partial("_JsConstants")
@section Scripts
{
@Html.Partial("Scripts/_FacebookSdk", Model.FacebookAppId)
    <script src="~/scripts/Admin/addplayers.js"></script>
}