@using System.Threading.Tasks
@using MyTeam.Resources
@{
    ViewBag.Title = Res.AdminPage;
}

<div class="mt-main">
<div class="mt-container">
    <div id="add-players"></div>
    </div>
</div>
@Html.Partial("_CoachMenu")

@Html.Partial("_JsConstants")
@section Scripts
{
    @await Component.InvokeAsync("FacebookSdk")
    <script src="~/compiled/admin/addplayers.js"></script>
}