
i.search-icon {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    color: @gray;
}


input[type=file]{
    width: 13em;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type=file]::after {
  content: 'Endre bilde';
  display: inline-block;
  background: -webkit-linear-gradient(top, white, white);
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  width: 71%;
  height: 100%;
  text-align: center;
  position: relative;
  left: -50%;
}

input[type=file]::before {
    content: "\f1c5";
    font-family: "FontAwesome";
    outline: none;
    margin-right: 2em;
    margin-left: 1em;
}

select {
    transition: all 0.2s ease-out;
}
select:hover {
    border: 1px solid fade(@black, 40);
}