
/* Tablesorter */

table.tablesorter thead tr .header {
    
    &:after {
        font-family: FontAwesome;
        content: "\f0dc";
        float:right;
        color: @link-color;
    }
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
     &:after {
        content: "\f0de";      
    }
}

table.tablesorter thead tr .headerSortDown {
     &:after {
        content: "\f0dd";  
    }
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: fade(@team-primary, 25%)
}

table.tablesorter .nosort {
    pointer-events: none;
}
table.tablesorter .nosort:after {
    opacity: 0;
}