@using System.Threading.Tasks
@model MyTeam.ViewModels.Shared.NotificationButtonViewModel

@{
    Layout = null;
}

@if (Model.Any)
{
    <ul class="notification-button nav navbar-nav navbar-right">
        <li class="dropdown"><button class="dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="fa fa-warning"></i></button>
            <ul class="dropdown-menu">
                <li><a asp-controller="event" asp-action="index"><i class="fa fa-calendar"></i>&nbsp;Du har <b>@Model.UnansweredEvents</b> ubesvarte arrangementer</a></li>
            </ul>
        </li>
    </ul>
}
