@using System.Threading.Tasks
@using MyTeam.ViewModels.Shared
@model MyTeam.ViewModels.Shared.PageHeaderViewModel

@{
    Layout = null;
}

<div class="mt-page-header">
    <div class="container">
        <h1>
            @Html.Raw(Model.Headline)
        </h1>
        <p>
            @Model.Content
        </p>
    </div>
</div>

