
/* Events */

.show-upcoming-event {
    p {
        color: @black-faded;

        i {
            margin-right: 5px;
        }
    }

    .event-icon {
        text-align: center;
        font-size: 4em;
        align-self: center;



        @media (max-width: 600px) {
            font-size: 2em;
        }
    }
}

.event-signup {
    margin-top: 20px;
    margin-left: 16.66%;



    .panel {
        background-color: transparent;
        border: 0;
    }
}


.attendee-links {
    a {

        font-size: 1.2em;
        color: @black-faded;

        span:first-child {

            &:before {
                margin-left: -1.7em;
                margin-top: -0.1em;
                position: absolute;
                content: "\f078";
                font-family: FontAwesome;
            }
        }


        &.collapsed {
            span:first-child:before {
                margin-left: -1.5em;
                margin-top: 0;
                content: "\f054";
                font-family: FontAwesome;
            }
        }

        &:focus {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

select.event-teamSelect {
    height: 3.6em;
}


.r-above(@md-min, {

    .show-event-container{
        display:flex;
    }
    .event-col-1 {
    flex: 1;
}

.event-col-2 {
    flex: 2;
}

.event-col-3 {
    flex: 3;
}

});


 .r-under(@sm-max,{
     .event-col-1 {
         width: 11rem;
         float:left;
     } 
     
     .event-col-2 {
                  min-width: 12rem;
                  float:left;

     }
     .event-col-3 {
                  float:left;
                  display:block;
                  margin-left: 11rem;

     }
 });
   .r-under(@xxs-max,{
     .event-col-1 {
         width: 4rem;
     } 
        .event-col-3 {
                  float:left;
                  display:block;
                  margin-left: 4rem;

     }
       
 });