
table.gamesTable tr td {
    line-height: 2.5rem;
    font-size: 1.25em;
    text-align: center;
    padding: 1.25rem 0;

    &.gameType {
        font-size: 1.5em;
    }
}

.gamesTable tr td.gamesTable-team {
    font-size: 1.35em;

    .r-under-xxs( {
        font-size: 1em;
    }

    );
    font-family: @fontBold;

    &.gamesTable-team--left {
        text-align: right;
    }

    &.gamesTable-team--right {
        text-align: left;
    }
}

.gameResult {
    border-radius: 1em;
    padding: 0.2em 0.65em;
}

.gameResult--win {
    background: @greenLight;
}

.gameResult--draw {
    background: @yellowLight;
}

.gameResult--loss {
    background: @redLight;
}


.games-showGameLink {
    transition: all 0.25s ease-out;
    cursor: pointer;

    &:hover {
        background-color: fade(@team-primary, 50) !important;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

.game-header {
    margin: 0 2em;

    .r-under-xs( {
        font-size: 1.5em;
        margin-top: 0.2em;
    }

    );

    .r-under-xxs( {
        font-size: 1.2em;
    }

    );
}

.game-score {
    font-size: 1.5em;
    padding: 0 1em;

    .r-under-xs( {
        padding: 0 0.5em;
        font-size: 1.2em;
    }

    );
}


.gameEvents {
    margin-bottom: 1.5em;
}

.gameEvents .gameEvent {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    i { font-size: 1.2em;}

    .r-under-xxs({
        font-size: 1.1em;
    });

}

.game-showEventsWrapper {
    padding-top: 1em;
}

.game-details {
    color: @black-faded;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

.game-squadList {
     line-height:1.6em;  
     font-size: 1.2em;
     i {
         font-size: 1.25em;
     }
    .r-under-xxs({
           font-size: 1.1em;
            i {
         font-size: 1.1em;
     }
    });
    
 
}