

.squad-list {
    font-size: 1.5em;
    color: @black-faded;
    margin-left: 2em;
}

.registerSquad-messageIcon {
        font-size: 1.5em;
    line-height: 2.4em;
    margin-right: 0.5em;
    color: fade(@blueDark, 60);
}