
.gameplan {


    .gp-square {
        display: inline-block;
        width: 20%;
        height: 3em;
    }
    input {
        text-align: center;
        background: transparent;
        border: 0;
    }

    .gp-time {
        font-size: 1.5em;
        width: 2em;
    }
    .gp-subs {
        font-size: 1.25em;
        font-weight: bold;
    }

}