
.gameplan {


    .gp-square {
        display: inline-block;
        width: 20%;
        height: 2em;
    }
    input {
        text-align: center;
        background: transparent;
        border: 0;
        width: 100%;
        font-weight: bold;
    }

    .gp-time {
        font-size: 1.5em;
        width: 2em;
    }
    .gp-subs {
        font-size: 1.25em;
        font-weight: bold;
    }

    .gameplan-field {
        max-width: 38em;
        margin: 0 auto;
        padding: 1em;
        padding-bottom: 0;
        background: @greenLightSubtle;
        border: 2px solid white;
    }
    .gp-gk {
        border: 2px solid white;
        border-bottom: 0;
        padding-top: 0.25em;
    }

}