/* Main */
#main-container {
    padding: 0;
}

#alerts {
    padding: 0;

    .r-above(@sm-max, {
        width: 74%;
    }

    );

    .r-above(@md-max, {
        width: 78%;
    }

    );
}

div.mt-main,
div[mt-main] {
    float: left;

    .r-above(@sm-max, {
        width: 74%;
    }

    );

    .r-above(@md-max, {
        width: 78%;
    }

    );

    .r-under(@md-min, {
        width: 100%;
        padding: 0;
    }

    );
    min-height: 24em;
}

.container-narrow [mt-main] {
    .r-above(@md-min+1, {
        width: 68%;
    }

    );
}

div.mt-sidebar,
div[mt-sidebar] {
    width: 24%;
    float:right;
    .r-above(@md-max, {
        width: 20%;
    }

    );

    .r-under(@md-min, {
        display: none;
    }

    );
}


.container-narrow div.mt-sidebar,
.container-narrow div[mt-sidebar] {
    width: 29%;
}





.mt-page-header {
    background-image: linear-gradient(to bottom, fade(lighten(@team-primary, 5), 80) 0, fade(lighten(@team-primary, 5), 95) 100%);
    color: white;
    z-index: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    margin-bottom: 1em;


    @media screen and (min-width: 768px) {
        padding-top: 2em;
        padding-bottom: 2em;
    }


    p {
        font-size: 150%;
        color: darken(white, 15%);
    }

    p, h1 {
        margin-left: 15px;
    }
}

.mt-container {
    background: linear-gradient(to bottom, fade(lighten(@blue,60), 85) 0, fade(lighten(@blue  ,60), 90) 100%);
    &.mt-container--light{
       background: linear-gradient(to bottom, fade(lighten(@blue,60), 90) 0, fade(lighten(@blue  ,60), 92) 100%);
    }
    padding: 2em;
    .r-under-xxs({padding: 1em;});
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    margin-bottom: 1em;
    overflow: hidden;

    p {
        font-size: 1.25em;
    }
}

.r-above(@xs-max, {

.mt-container--left { 
    float:left; width: 49%;
}
.mt-container--right { 
    float:right; width: 49%;
}
});

.container-narrow {
    max-width: 800px;
    margin: 0 0;
}


.edit-link {
    font-size: 1.5em;
}

.notification-button > li {
    height: 80px;
    margin-right: 10px;

    .r-under-xs( {
        margin-top: 0;
        margin-bottom: 0;
        height: 38px;
    }

    );
}

.notification-button button {
    height: 38px;
    margin-top: 21px;
    margin-bottom: 21px;

    .r-under-xs( {
        margin-top: 0;
        margin-bottom: 0;
        height: 34px;
    }

    );
}

.notification-button .dropdown-menu {
    color: @black-faded;
    border-radius: 0;
    background: lighten(black, 92);
}

.notification-button .dropdown-menu p {
    font-size: 1.2em;
    margin-left: 0.5em;
}


.notification-button ul.dropdown-menu  {
    background-color: fade(@team-secondary, 90) !important;
}


.navbar .navbar-nav.notification-button .dropdown-menu li a {
    font-size: 1.2em;
    color: @white !important;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: text-decoration 0.3s ease-out;
    &:hover {
    text-decoration: underline;
    }
    
    .r-under-xs({font-size: 1em;});
    .r-under-xxs({
        font-size: 0.9em;
        padding-left: 0 !important;
        padding-right: 0 !important;
    });
}

.notification-button .dropdown-menu li a:hover {
    background: fade(@link-color, 20);
}

.signout-form {
    margin-right: auto;
}

.navbar-topRight {
    float: right;
}




.r-under-xs({
    .navbar-topRight{
        position: absolute;
        top: 0;
        right: 70px;
    }

    .notification-button .dropdown-toggle {
    float: right;

    }
    .notification-button .dropdown-menu {
        padding-top: 43px;
        padding-bottom: 0;
    }
   

    .notification-button .dropdown-menu li {
        padding: 1em;

        a {
            padding: 0;
        }
    
}

});
    

.r-above(@sm-min,{
    .navbar-collapse {
    float: left;
}
});


 .navbar-topRight--item {
    float: right;
    display: inline-block;

    .r-under-xs( {
        height: 34px;
        margin-right: 15px;
    }

    );
}

.navbar-topRight--item.navbar-nav li {
    height: 100%;
    a{height: 100%;}
}


 .mt-loader {
    margin-left: 1em;
 }