

.manage-players {
    .headline{
        font-size: 2em;
    }
    .subheadline{
        padding-top: 1.1em;
    }

      .mp-name {
          .r-xs({font-size:1.2em;})
    }
      .mp-roles {
          padding-right: 0.3em;
      }
}
  
.manage-players select.form-control {
    width: 7em;
    padding: 6px 6px;
    display: inline-block; 
    .r-xs({width: 12em;});
}

.manage-players .row {
              .r-xs({padding: 0.5em 0em;});

     &:nth-of-type(even){
        background-color:rgba(0,0,0,0.05);
    }

}
.manage-players .row.list-player > div {
    overflow:hidden;
    line-height: 2.4em;

   
}

.r-under-md({
    .manage-players button.btn {
        padding: 5px 5px;
    }  
});

 .r-under-xs({
    .manage-players button.btn {
        padding: 5px 10px;
    }  
});

