

.news-imageWrapper {
    max-height: 20em;
    min-height: 8em;
    overflow: hidden;

}

.news-imageWrapper img{
    width: 100%;
}

.news-item h2{
    text-align: left;
    margin-bottom: 0.1em;
}

p.news-author {
    font-size: 1em;
    font-style: italic;
    margin: 0;
    color: @text-subtle;
}

.cloudinary-preview {
    margin-bottom: 0.5em;
}

.news-item .edit-link{
    margin-top: 1.3em;
}