

.news-imageWrapper {
    min-height: 8em;
    overflow: hidden;  
}

.news-imageWrapper--short {
    max-height: 15em; 
}


.news-imageWrapper img{
    width: 100%;
}

.news-item h2{
    text-align: left;
    margin-bottom: 0.2em;
    font-size: 2.5em;
    .r-under-sm({font-size:2em;});
    .r-under-xs({font-size:1.75em;});
    .r-under-xxs({font-size:1.5em;});
}

p.news-author {
    font-size: 1em;
    font-style: italic;
    margin: 0;
    color: @text-subtle;
}

.cloudinary-preview {
    margin-bottom: 0.5em;
}

.news-item .edit-link{
    margin-top: 1.3em;
}

.news-pager ul.pager {
          margin: 0;
      }

.mt-container .news-content, 
.mt-container .news-content p {
    font-family: 'Helvetica Neue', Arial, freesans, sans-serif;
    color:black;
    font-size: 1.6rem;
    line-height: 2.8rem;
    &.news-content--short {
        font-weight:bold;
    }
}