/* Player/Index */

.mt-playerWrapper {
    padding: 0;
        .r-under(500px, {width: 50%;});
}

.mt-player-container {
    margin: 0 auto;
    max-width: 13em;
    display:block;
    padding-top: 1em;
    height: 13.5em;
    border: 2px solid transparent;
    
        
        .r-under-xxs({
             height: 11em;
           
        });


    .image-container {
        height: 9em;
        width: 9em;
        overflow: hidden;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        .r-under-xxs({
             height: 6em;
            width: 6em;
           
        });
                

        img {
            width: 100%;
        }
    }

    p {
        line-height: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: @black-faded;
        text-shadow: 0 1px 0px fade(black, 15);

    }

      transition: all 0.25s ease-out;

    &:hover {
        border: 2px solid @link-hover;
        box-shadow: 0px 1px 1px fade(black, 15);
        background-color: fade(@team-primary, 50);
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}



/* Player/Show */
.picture-frame {
    padding: 15px;

    img {
        width: 100%;
        box-shadow: 1px 2px 6px fade(black, 50);
    }
}

.player-info {
    padding: 15px;
}




.player-info table.table {
    tr:first-of-type {
        td { border-top: 0;}
        }
    }

/* Edit */
select.ep-positions {
    height: 8.7em;
    overflow-y: auto;
}

.edit-player-link {
    position:absolute;
    top: 0.25em;
    right: 0.25em;
}

.editPlayer-image {
    margin-bottom: 0.5em;
}

td.playerStats--value {    
                text-align: right;
                .icon:after {
                    position: relative;
                }
                i {
                    margin-right: 1em;
                }
             }

.playerStats td {
    font-size: 1.25em;

}
.playerStats td label {
    font-size: 0.85em;

}