
.register-attendance-item{

    position: relative;

    .ra-info-elements {
        position: absolute;
        right: -7em;
        top: 1.2em;
        width: 6em;

        &> span, i {
            display:none;
            position:absolute;
        }
     
    }
}