@using System.Threading.Tasks
@using MyTeam

@if (Context.UserIsInRole(Roles.Coach, Roles.Admin))
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.CoachMenu</li>
                <li><a asp-action="create" asp-controller="event" asp-route-type="@EventType.Kamp"><i class='fa fa-plus'></i> @Res.Add @Res.Game.ToLower()</a></li>
                <li><a asp-action="addgames" asp-controller="game"><i class='fa fa-calendar-plus-o'></i> Legg inn terminliste</a></li>
            </ul>
        </div>
    </div>
}
