@using System.Threading.Tasks
@using MyTeam
@using MyTeam.Models.Enums
@using MyTeam.Resources


 @if (Context.UserIsInRole(Roles.Coach, Roles.Admin))
 {
    <div mt-sidebar>
        <ul class="nav nav-list">
            <li class="nav-header">@Res.CoachMenu</li>
            <li><a asp-action="create" asp-controller="event" asp-route-type="@EventType.Kamp" ><i class='fa fa-plus'></i> @Res.Add @Res.Game.ToLower()</a></li>
        </ul>
    </div>
 }
