@using MyTeam.ViewModels.Game
@model GamePlanViewModel

<div id="gameplan"
     data-gameId="@Model?.GameId"
     data-team="@Model?.Team"
     data-opponent="@Model?.Opponent"
     data-gamePlan="@Model?.GamePlan"
     data-isPublished="@Model?.IsPublished"
     data-iscoach="@Context.UserIsInRole(Roles.Coach)"
     >
</div>



@section Scripts {
    <script src="~/scripts/Game/gameplan.js"></script>
}
