@model MyTeam.ViewModels.Game.ShowGameViewModel
@{
    ViewBag.Title = $"{Model.Game.HomeTeam} - {Model.Game.AwayTeam}";
}

<div class="mt-main">
    <div class="mt-container"></div>

</div>
<div class="mt-sidebar">


</div>