@using System.Security.Policy
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam.Resources
@using MyTeam.ViewModels.Fine
@{
    ViewBag.DisableAjax = true;
    ViewBag.Title = "Endre sats";
}
@model FineViewModel
<div class="mt-main">
    @Html.Partial("_Add")
</div>