
            <li><a asp-action="create" asp-controller="event"><i class='flaticon-couple40'></i>@Res.CreateEvent</a></li>
            <li><a asp-action="index" asp-controller="admin"><i class='fa fa-user'></i>@Res.ManagePlayers</a></li>
            <li><a href="/admin/spillerinvitasjon"><i class='fa fa-plus'></i>@Res.Add @Res.Player.ToLower()</a></li>
            <li><a asp-action="create" asp-controller="news"><i class='fa fa-newspaper-o'></i>Skriv artikkel</a></li>
