@using System.Threading.Tasks
@model Exception
@{
    Layout = null;
    var guid = Guid.NewGuid();
}

<div mt-alert="@AlertType.Danger">
    @Res.Error
</div>


@if (Model != null && User.IsDeveloper())
{
    <p>
        <a data-toggle="collapse" href="#stacktrace-@guid"><i class="fa fa-exclamation-triangle"></i> Stacktrace</a>
    </p>
        <div id="stacktrace-@guid" class="panel-collapse collapse">
            @Html.Partial("_ErrorSummary")
        </div>
}