@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity
@using MyTeam.Resources
@model Exception
@{
    ViewData["Title"] = "Error";
}

<div class="mt-container">
    <h1 class="text-danger">@Res.Error</h1>
    @if (User.IsDeveloper())
    {
        @Html.Partial("_ErrorSummary")
    }
</div>


