@using System.Threading.Tasks
@using MyTeam.Resources

@{
    ViewBag.Title = "404";
}

<div class="mt-main">
    <div class="mt-container">
        <h2 style="display: flex; align-items: center; justify-content:center; font-size: 2em"><i style="font-size: 3em; margin-right: 0.25em" class="flaticon-football93" ></i> Auda... vi finner ikke siden du leter etter :(</h2>
    </div>
</div>