@using System.Globalization
@using System.Threading.Tasks
@using MyTeam.Models.Dto
@model IEnumerable<MyTeam.Models.Dto.SimpleArticleDto>

@if (Model.Any())
{
    <div class="articleNav">
        @foreach (var group in Model.GroupBy(a => a.Published.ToString("MMMM", CultureInfo.CurrentCulture) + " " + a.Published.Year))
        {
            <ul class="nav nav-list">
                <li class="nav-header">@group.Key</li>
                @foreach (var article in group)
                {
                    <li><a asp-controller="news" asp-action="show" asp-route-name="@article.Name">@article.Headline.Truncate(30)</a></li>
                }
            </ul>
            <br />
        }
    </div>
}
@section Scripts
{
    <script src="~/scripts/News/articleNav.js"></script>
}