@{
    ViewData["Title"] = "Confirm Email";
}
<div class="mt-container">
    <h2>@ViewData["Title"].</h2>
    <div>
        <p>
            Takk for at du bekreftet din e-postadresse. <a asp-controller="Account" asp-action="Login">Trykk her for å logge inn</a>.
        </p>
    </div>
</div>