@{
    ViewData["Title"] = "Innloggingsfeil";
}
<div class="mt-container">

    <hgroup>
        <h2>@ViewData["Title"].</h2>
        <h3 class="text-danger">Innlogging mislyktes.</h3>
    </hgroup>
</div>