@{
    ViewData["Title"] = "Glemt passord";
}
<div class="mt-container">
    <br />
    <p>
        <i class="fa fa-check"></i> En e-post med instruksjoner om nullstilling av passord er sent
    </p>
</div>