@using System.Threading.Tasks
@using MyTeam.Models.Enums
@using MyTeam.Resources

@if (!User.IsInRole(Roles.Coach))
{

    <div mt-sidebar>
        <ul class="nav nav-list">
            <li class="nav-header">@Res.CoachMenu</li>
            <li><a asp-action="create"><i class='fa fa-plus'></i> @Res.CreateEvent</a></li>
            <li><a asp-action="RegisterAttendance"><i class='fa fa-check'></i> @Res.Register @Res.Attendance.ToLower()</a></li>
        </ul>
    </div>

}