@using System.Threading.Tasks
@using MyTeam
@if (Context.UserIsInRole(Roles.Admin, Roles.Coach))
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list adminMenu">
                <li class="nav-header">@Res.CoachMenu</li>
                @Html.Partial("_CoachMenuItems")

            </ul>
        </div>
        </div>

        }
