@model Microsoft.AspNet.Mvc.ModelBinding.ModelStateDictionary
@using System.Threading.Tasks
@using MyTeam.Resources
@{
    Layout = null;
}
<div mt-alert="info" mt-icon="hand-stop-o">
    @Res.InvalidInput
</div>

