@using System.Security.Claims
@using System.Threading.Tasks
@using MyTeam.Resources

@if (User.IsSignedIn())
{

    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-topRight--item navbar-right signout-form">
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                <a asp-controller="Manage" asp-action="Index" title="@Res.User"><i class="fa fa-user"></i></a>
            </li>*@
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" title="@Res.Logout"><i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </form>
}
else
{
    <ul id="login-wrapper" class="nav navbar-nav navbar-right navbar-topRight--item">
        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i></a></li>
    </ul>
}
