@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul id="login-wrapper" class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-user"></i></a>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i></a></li>
        </ul>
    </form>
}
else
{
    <ul id="login-wrapper" class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i></a></li>
    </ul>
}
