@model MyTeam.Models.General.PagedList<object>


<nav>
    <ul class="pagination">
        @if (Model.HasPrevious)
        {
            <li>
            <a href="#" class="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li> }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        }
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
       
        @if (Model.HasNext)
        {
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        }
    </ul>
</nav>


