@model UserMember

<div class="login-image-wrapper">
    <a title="@Model.FirstName" asp-controller="player" asp-action="show" asp-route-name="@Model.UrlName">
        <img src="@Context.Cloudinary().MemberImage(Model.Image, Model.FacebookId, 40, 40)"/>
    </a>
</div>
