@using System.Threading.Tasks
@using MyTeam.Resources
@model Exception
@{
    ViewData["Title"] = "Error";
}

<div class="mt-container">
    <h1 class="text-danger">@Res.Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    @Html.Partial("_ErrorSummary")
</div>


