@using System.Threading.Tasks
@using Microsoft.AspNet.Identity
@using MyTeam.Resources
@model Exception
@{
    ViewData["Title"] = "Error";
}

<div class="mt-container">
    <h1 class="text-danger">@Res.Error</h1>
    @Html.Partial("_ErrorSummary")
</div>


