ul [ Class "list-users" ]
    [ li [ Class "register-attendance-item registerSquad-player" ]
        [ span [ ]
            [ img [ Class "hidden-xxs"
                    Src "@Context.Cloudinary().MemberImage(player.ImageFull, player.FacebookId, 50, 50)" ]
                    str "@player.ShortName" ]
          span [ ]
            [ str "@if (!string.IsNullOrWhiteSpace(player.Attendance?.SignupMessage))" 
            <a class="mt-popover registerSquad-messageIcon" data-container="body" data-content="@player.Attendance.SignupMessage" data-placement="right" data-toggle="popover" href="javascript:void(0);"><i class="fa fa-comment"></i></a>
                
            <span id="playerAttendance-@player.Id" title="Oppmøte siste 8 uker" class="register-attendance-attendance">0%</span>
            <input class="form-control register-attendance-input"
                data-player-id="@player.Id"
                data-player-name="@player.ShortName"
                data-event-id="@player.EventId"
                type="checkbox"
                checked
                />
            ]
          div [ Class "ra-info-elements" ]
            [ span [ Class "label label-danger" ]
                [ i [ Class "fa fa-exclamation-triangle" ]
                    [ ] ] ] ] ]