@using System.Threading.Tasks
@using MyTeam.ViewModels.News
@model GetCommentsViewModel
<div id="article-commentswrapper">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_Comment", comment)
    }
</div>
@Html.Partial("_CommentForm")
