@using System.Threading.Tasks
@using MyTeam
@using MyTeam.Models.Enums
@using MyTeam.Resources


@if (Context.UserIsInRole(Roles.Coach, Roles.Admin))
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.CoachMenu</li>
                <li><a asp-action="createseason" asp-controller="season"><i class='fa fa-plus'></i> @Res.Add @Res.Season.ToLower()</a></li>
            </ul>
        </div>
        </div>
        }
