@using System.Threading.Tasks
@using MyTeam.Resources
@model MyTeam.ViewModels.Table.CreateTableViewModel
@{
    ViewBag.Title = $"{Res.Update} {Res.Table.ToLower()}";
}


<div class="mt-container" >
    <h3 class="col-xs-6">&nbsp;<i class="fa fa-users"></i>&nbsp;&nbsp;@Html.DisplayFor(m => m.Team)</h3>
    <h3 class="col-xs-6">&nbsp;<i class="fa fa-calendar"></i>&nbsp;&nbsp;@Html.DisplayFor(m => m.Season)</h3>
    <div class="col-xs-12">

        <form asp-action="Update" method="post">
            <input asp-for="SeasonId" type="hidden"/>
            <input asp-for="Team" type="hidden"/>
            <input asp-for="Season" type="hidden"/>
            <div class="form-group">
                <textarea asp-for="TableString" class="form-control update-table" placeholder="@Res.SubmitTable"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Res.Save</button>
            </div>
        </form>
    </div>
</div>

