@using System.Threading.Tasks
@model MyTeam.ViewModels.Player.ShowPlayersViewModel



@foreach (var player in Model.Players)
{
    <div class="col-lg-3 col-md-4 col-xs-4 text-center mt-playerWrapper">
        <a class="ajax-link mt-player-container" data-ajax-update="#show-players"
           asp-controller="player" asp-action="show" asp-route-name="@player.UrlName">
            <div class="image-container">
                <img src="@Context.Cloudinary().MemberImage(player.Image, player.FacebookId, 200, 200)" title="@Html.DisplayFor(p => player.Name)" alt="">
            </div>
            <p>@Html.DisplayFor(p => player.Name)</p>
        </a>
    </div>
}

@if (!Model.Players.Any())
{
    <div class="alert alert-info">Det finnes ingen spillere i denne kategorien</div>
}