.collapselink-parent {
    position: relative;
}
.collapse-link {
    font-size: 1.5em;
    text-align: center;
    font-family: KelsonBold;
    display:block;
    margin-bottom: 0.5em;
    &:after {
        font-size: 0.8em;
        content: "\f077";
        font-family: FontAwesome;
        position: absolute;
        right: 0;

    }

    &.collapsed:after {
        content: "\f078";
    }

    &:hover {
            text-decoration: none;
    }
}
