.link {
    border: none;
    background: none;
    color: @link-color;
    &:hover {
        color: @link-color-hover;
    }    
}
.link.link--red {
    color: fade(@red,70);
    &:hover {
        color: @red;
    }    
}

button.link {
    padding: 0;
}