@using System.Threading.Tasks
@using MyTeam.Models.Enums
@model MyTeam.ViewModels.Events.CreateEventViewModel

@if (Model.Type == EventType.Diverse)
{
    <div class="form-group">
        <label mt-for="Headline" mt-icon="header" class="col-xs-2 control-label"></label>
        <div class="col-xs-10">
            <input asp-for="Headline" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Headline)" />
            <span asp-validation-for="Headline" class="text-danger"></span>
        </div>
    </div>
}