@using System.Threading.Tasks
@using MyTeam.Models.Enums
@model MyTeam.ViewModels.Events.CreateEventViewModel

@if (Model.Type == EventType.Kamp)
{
    <div class="form-group">
        <label mt-for="Opponent" mt-icon="users" class="col-xs-3 control-label"></label>
        <div class="col-xs-9">
            <input asp-for="Opponent" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Opponent)" />
            <span asp-validation-for="Opponent" class="text-danger"></span>
        </div>
    </div>
}