@using Microsoft.Data.Entity.Metadata.Internal
@using MyTeam.Models.Enums
@using MyTeam.Resources
@model MyTeam.ViewModels.Events.EventViewModel


<div id="event-signup-@Model.Id" class="event-signup">
    @if (!Context.Member().BelongsToTeam(Model.TeamIds.ToArray()))
    {
        <div mt-alert="AlertType.Info">Du er ikke registrert som medlem av noen av lagene dette arrangementet gjelder</div>
    }
    else if (Model.SignupHasOpened())
    {
        @Html.Partial("_SignupDetails")
    }

</div>

<div class="clearfix"></div>