@using MyTeam
@using MyTeam.Models.Enums
@model MyTeam.ViewModels.Events.EventViewModel


<div id="event-signup-@Model.Id" class="event-signup">
  @if (Model.SignupHasOpened()){
   
        @Html.Partial("_SignupDetails")
      
  }

</div>

<div class="clearfix"></div>