@model MyTeam.ViewModels.Events.EventViewModel


<div id="event-signup-@Model.Id" class="event-signup event-signup--@Model.Type.ToString().ToLower()">
  @if (Model.SignupHasOpened()){
   
        @Html.Partial("_SignupDetails")
      
  }
</div>

<div class="clearfix"></div>