@using System.Threading.Tasks
@model MyTeam.ViewModels.Events.CreateEventViewModel



<div class="mt-main">
    <div class="mt-container">
        @Html.Partial("_CreateEventForm")
    </div>
    </div>


    @Html.Partial("_CoachMenu")
