@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata
@using MyTeam.Models.Enums
@using MyTeam.Resources
@model MyTeam.ViewModels.Events.CreateEventViewModel



<div mt-main>
    @Html.Partial("_CreateEventForm")
</div>

    @if(Model.Type == EventType.Trening && Model.HasOccured){
    <div mt-main>
    <h1>register attendance  </h1>
        
</div>
    }
    



@Html.Partial("_CoachMenu")

<div mt-sidebar>


</div>

